body{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-family: 'Lato' , sans-serif;
    background-color: #24292f;
    color:white;
    margin: 0 auto;
}

.navbar-brand{
    float : left;
    text-decoration: none;

}

.navbar-nav{
    margin: 0%;
}

.navbar .navbar-nav .nav-item{
    display: inline;
    list-style: none ;
}

.navbar .navbar-nav .nav-item a{
    text-decoration: none;
    display: inline-block;
    padding:25px 20px 25px 10px;
    font-family: 'Poppins';
    font-size : 14px;
    color:white;
}

.toggle-collapse{
    margin-left:auto;
    width: 45px;
    height: 36px;
    margin: 1.2em 1em;
    background-color: transparent;
    color: rgba(232, 232, 232, 0.7);
    border: 1px solid  rgba(232, 232, 232, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display:none;
}


.toggle-collapse:hover{
  background-color: rgba(77, 90, 105, 0.5);
}

.Search-bar{

    padding: 10px;
    display: inline-block;
    position: relative;
    border: 0.5px solid #24292f;
    border-radius: 10px;

}

.Search-bar .search{
    background-color: #3f4449;
    color: white ;
    height: 30px;
    border: 1px solid #24292f;
    border-radius: 10px;
    font-family: 'Lato' , sans-serif;
}

.search:focus{
    outline: none;
    border: 1px solid rgba(20, 16, 23, 1);
}

.btn{
  height: 45px;
  display: inline-block ;
  border: 1.5px solid #24292f;
  border-radius: 5px;

}


.btn a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding:  14px;
  font-family: 'Poppins';
  font-size : 14px;
  color:white;
}

.btn:hover{
  background-color: white;

}
.btn a:hover{
  color: black;
}

#or{
    font-size:13px;
    color:#3f4449;
}


.container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:50px 50px 50px 50px ;
    width:100%;
    background-color: #2a3138;

}

.info-block{


    text-align:left;
    width: 75%;

    border: 1px solid #2a3138e;
    font-family: 'Lato' ;
}

#text-h1{
    word-break: keep-all;
    padding: 0px 0px 0px 180px ;
    color: white ;
    font-size: 3rem;
}

#info-text{
    word-break: keep-all;
    padding: 0px 0px 0px 180px;
    color: #88b3b0;
    font-size: 1.5em;
}

#open-source{
    color: white;
}

#business{
    color: white;
}

.form{

  width: 50%;
  text-align:center;
  width:70%;
  border: 1px solid #2a3138;
  font-family: 'Lato' ;
}

.form-box{
  width: 70%;
  display: inline-flex;
  padding: 5px 2px 5px 25px;
  border: 1px solid #2a3138;
  background-color: white;
  border-radius: 10px;
}
.form-items{
  text-align: left;
  padding-top: 0px;
  font-family: 'Poppins'
}
.form-items input{
  box-sizing: border-box;
  padding-right: 100px;
  width:95%;
  height:40px;
  border: 1px solid #6a929c;
  border-radius: 5px;
}

.form-items p{
  font-size: 0.8rem;
}

.form-items p span{
  color: #4d7deb;
}
.sign-up a{
    text-decoration: none;
    color: white;
}
.sign-up{
    height: 40px;
    width :95%;
    text-align: center;
    border: 1px solid #2a3138;
    border-radius: 5px;
    background-color: #036b07;
}

.sign-up:hover{
  background-color: white;

}
#a_sign-up{
  padding: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  width:100%;
  height:100%;
}
#a_sign-up:hover{
  color: black;
}

.container-2{
  font-size: 1.2rem;
  text-align:center;
  font-family: "Poppins" sans-serif;
}

.container-2 h1{
  font-size: 2rem;
}

.container-2 button{
  width:200px;
  height:45px;
  background-color: white;
  border: 1px solid #0275d8;
  border-radius: 5px;
}

.a_sign-up_2{
  padding: 10px 0px 0px 0px;
  font-size: 1.05rem;
  text-decoration: none;
  color: #0275d8;
  display: block;
  height: 100%;
  width:100%;
}

.container-2 button:hover{
  background-color: #0275d8;
}

.a_sign-up_2:hover{
  color: white;
}

.sign-up_m{
  display: none;
}
.a_sign-up_m{
  display: none;
}

@media screen and (max-width:63rem){

    .navbar-brand{
        padding: 10px 10px 0px 10px ;
    }

    .navbar-nav{
        color: white;
        padding:0%;
    }
    .navbar .navbar-nav .nav-item a{
        display:block;
        text-align: center;
        list-style : none;
    }

    .navbar-collapse{
        width:100%;
        overflow:hidden;
        text-align : center;
        height:0vh;
        transition: all  50ms ease;
    }

    .toggle-collapse{
      display: block;
    }

    .collapse{
        height: 55vh;
    }

    #or{
      display: none;
    }

    .container{
      display: block;
      box-sizing: border-box;
      padding: 10px 10px 20px 0px;
    }
    .info-block{
      display: block;
      width: 100%;
      text-align: center;

    }

    #text-h1 , #info-text{
      padding-left: 40px;
     padding-right: 40px;
     font-size: 1.4rem;
    }

    #text-h1{
      font-size: 2.5rem;
    }


    .form{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #2a3138;
      width: 100%;


    }
    .form-box{
      width:55%;
      display: flex;
      justify-content: center;
      align-items: center;
    }



}
@media screen and (max-width:26.663em){
      .form{
        display: none;
      }
      .signup_m_block{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sign-up_m{
        display: block;
        height: 30px;
        width : 180px;
        text-align: center;
        border: 1px solid #2a3138;
        border-radius: 5px;
        background-color: #036b07;
      }
      .a_sign-up_m{
        display:block;
      }

      .sign-up_m a{
          text-decoration: none;
          color: white;
        }
      .sign-up_m:hover{
        background-color: white;

      }
      #a_sign-up_m{
        padding: 5px 0px 0px 0px;
        display: block;
        text-align: center;
        width:100%;
        height:100%;
      }
      #a_sign-up_m:hover{
        color: black;
      }

}
